/virtualenv/
/.idea/
/venv/
/env/
/uwiz.egg-info/
/dist/
/build/
**/tmp/
/scripts/examples_build/
/examples_build/
/docs/_build/
/docker/
/htmlcov/
/coverage.xml
/.coverage
/uncertainty_wizard.egg-info/
/examples/temp-ensemble.txt
**/__pycache__/
