# This is a dependency of tensorflow, but we need to pin it to a version that
# is compatible with earlier python versions. It's a bit of a hack, feel free to open a PR...
protobuf==3.20.*

tensorflow>=2.7.0
# The following is only required for python 3.6
# dataclasses==0.6
